<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <div class="header">
        <h1>Gocd Dashboard</h1>
    </div>
{%- for group in groups %}
    <div id="{{ group.name|lower }}" class="group {{ group.result()|lower }}">
        <h2>{{ group.name }}</h2>
        <ul>
        {%- for pipeline in group.pipelines %}
            <li class="{{ pipeline.result()|lower }}">
                <strong>{{ pipeline.name }}/{{ pipeline.counter }}</strong>
                <span>({{ pipeline.result() }})</span>
                <ul>
                {%- for stage in pipeline.stages %}
                    <li class="{{ stage.result|lower }}">
                        {{ stage.name }} ({{ stage.result }})
                    </li>
                {%- endfor %}
                </ul>
            </li>
        {%- endfor %}
        </ul>
    </div>
{%- endfor %}
</body>
</html>
