<!DOCTYPE html>
<html>
<head>
    <title>GoCD Dashboar</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <div class="header">
        <h1>GoCD Dashboard</h1>
    </div>
{%- for group in groups %}
    <div id="{{ group.name|lower }}" class="group {{ group.result()|lower }}">
        <h2 class="name">{{ group.name }}</h2>
    {%- for pipeline in group.pipelines %}
        <div id="{{ pipeline.name|lower }}" class="pipeline {{ pipeline.result()|lower }}">
            <h3 class="name">
                <a href="{{ pipeline.link() }}">{{ pipeline.name }}/{{ pipeline.counter }}</a>
            </h3>
        {%- if not pipeline.passed() %}
        {% set failed_stage = pipeline.failed_stage() %}
            <div class="description">
                Failed on stage <a href="{{ failed_stage.link(pipeline) }}" class="stage">{{ failed_stage.name }}/{{ failed_stage.counter }}</a>.
            </div>
        {%- endif %}
        {%- if pipeline.pipeline_materials %}
            <div class="materials materials-pipeline">
                <h4>Pipelines</h4>
                <ul class="tree">
                    {%- for pipeline_material in pipeline.pipeline_materials recursive %}
                        <li class="material material-pipeline">
                            <a href="{{ pipeline_material.link() }}">
                                <code>{{ pipeline_material.name }}/{{ pipeline_material.counter }}</code>
                            </a>
                            <ul>
                                {{ loop(pipeline_material.pipeline_materials) }}
                            </ul>
                        </li>
                    {%- endfor %}
                </ul>
            </div>
        {% endif %}
            <div class="materials materials-git">
                <h4>Commits</h4>
                <ul>
                {%- for material in pipeline.all_git_materials() %}
                    <li class="material material-git">
                        <a href="{{ material.link() }}">
                            <code>{{ material.name() }}</code>
                        </a>
                        <ul>
                            {% for modification in material.modifications %}
                                <li class="commit">
                                    <a class="message" href="{{ modification.gh_link(material) }}"><code>{{ modification.title()|truncate(80, true) }}</code></a>
                                    (<a class="author" href="mailto:{{ modification.author_email }}">{{ modification.author_name }}</a>)
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li>No materials?</li>
                    <code>{{ pipeline|pprint }}</code>
                {%- endfor %}
                </ul>
            </div>
        </div>
    {%- endfor %}
    </div>
{%- endfor %}
</body>
</html>
