{% macro git_material_link(material) -%}
    <a href="{{ material.link() }}">{{ material.name() }}</a>
{%- endmacro %}

{% macro git_modification_link(modification, material) -%}
    <small>(<a href="{{ modification.gh_link(material) }}"><code>{{ modification.revision|truncate(7, true, '') }}</code></a>)</small>
{%- endmacro %}

{% macro pipeline_material_link(pipeline) -%}
    <a href="{{ pipeline.value_stream_map }}">{{ pipeline.title }}</a>
{%- endmacro %}

{% macro pipeline(pipeline, group_passed=False) %}
    <div class="card {% if not pipeline.passed() %}red{% elif group_passed %}green{% endif %} lighten-4">
        <div class="card-content">
            <span class="card-title">
                <a href="{{ pipeline.value_stream_map }}">{{ pipeline.title }}</a>
            </span>

            <p>
            {%- if pipeline.git_material and not pipeline.pipeline_material %}
                Built changes from {{ git_material_link(pipeline.git_material) }} {{ git_modification_link(pipeline.git_material.modifications[0], pipeline.git_material) }}.
            {%- elif pipeline.pipeline_material and not pipeline.git_material %}
                Triggered by {{ pipeline_material_link(pipeline.pipeline_material) }}.
            {%- elif pipeline.pipeline_materials %}
                Triggered by <a href="{{ pipeline.value_stream_map }}" title="{{ pipeline.pipeline_materials|map(attribute='title')|join(', ') }}">{{ pipeline.pipeline_materials|length }} pipelines</a>.
            {% else %}
                No materials changed.
            {%- endif %}
            </p>

            <p>
            {%- if pipeline.passed() %}
                All stages passed.
            {% else %}
                {% set failed_stage = pipeline.failed_stage() %}
                Failed on stage <a href="{{ failed_stage.link(pipeline) }}" class="stage">{{ failed_stage.name }}/{{ failed_stage.counter }}</a>.
            {%- endif %}
            </p>
        </div>

        <div class="card-action">
            {% for name, email in pipeline.all_commit_authors|sort %}
                <div class="chip">
                    <img src="{{ email | gravatar }}" alt="{{ email }}" title="{{ name }} <{{ email }}>">
                    {{ name }}
                </div>
            {% else %}
                <div class="chip">
                    <img src="{{ url_for('static', filename='logos/gocd-avatar.png') }}" alt="GoCD">
                    Trigged manually
                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}
