body {
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    background: #EEEEEE;
}

.header {
    text-align: center;
}

.group {
    padding: 1em 1em 0 1em;
    border: 2px solid black;
    margin-bottom: 1em;
}

.group.failed {
    background: #EEBBBB;
}

.group h2 {
    margin: 0;
}

.group h3 {
    margin-bottom: 0;
}

.group.failed > .name,
.pipeline.failed > .name,
.pipeline.failed .stage {
    color: red;
}
